*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#page{
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
}

#count_container {
  color: white;
  padding: 20px;
  width: 280px;
  position: absolute;
  top:20%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 15px 5px white;
  border-radius: 25px;
}

#button_container{
    margin: 20px;
    padding: 0px;
    display: flex;
    gap: 15px;
}


button{
    color: white;
    padding: 6px;
    width:90px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px white;
}
#heading{
    margin: auto;
}

